<h1 class="cover-heading">Account Login</h1>
<form method="post" action="/users/login">
    <div>
    	<label>Username:</label>
        <input type="text" name="username" placeholder="Username">
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password" placeholder="Password">
    </div>
    <div>
        <input class="addspace" type="submit" value="Log In">
    </div>
</form>