<div class="dash" id="dashBoard">
	<div class="customIndent"> 
		<img id="dashIcon" class="dashIcon" src="../media/taskIcon.png" style="width:50px;height:50px;">
	</div>
	<div class="customIndent"> 
		<img id="addnewIcon" class="addnewIcon" src="../media/addnewIcon.png" style="width:50px;height:50px;">
	</div>
	<div class="customIndent"> 
		<img id="deleteIcon" class="deleteIcon" src="../media/deleteIcon.png" style="width:50px;height:50px;">
	</div>
	<div class="customIndent"> 
		<img id="saveIcon" class="saveIcon" src="../media/saveIcon.png" style="width:50px;height:50px;">
	</div>
</div>
<div >
<select id= "taskSheets" class="taskSheetLoader">
 	<option value="0">Select Task Sheet:</option>
</select>
</div>	
<div class="taskPanel" id="taskPanel">
	<div class="primeTask">
		<label class="primelabel">Select a Task Sheet or Create a New One To Get Started</label>
	</div>
</div>	
	
<script src="../src/nestedLogic.js"></script>
	